<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div
  class="hero"
  style="
    background-image: url(../../../../assets/images/Events/449389-PFA22F-495.jpg);
  "
></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">
  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="section__head">
      <h3 class="mb-0">Créer <span class="text-primary">Evenement</span></h3>
    </div>

    <!--   <div class="row g-4">
            <div class="col-6 col-xl-2 col-md-3 col-sm-4" *ngFor="let station of stations">
              <app-cover-view [data]="station" [viewPlaylist]="false"></app-cover-view>
            </div>
        </div>

    </div> -->
    <!-- End:: section -->

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <!--  <div class="section">
        <div class="section__head">
            <h3 class="mb-0">Top <span class="text-primary">Radio</span></h3>
        </div>

        <div class="row g-4">
            <div class="col-6 col-xl-2 col-md-3 col-sm-4" *ngFor="let station of stations | slice: 2 : 8">
              <app-cover-view [data]="station" [viewPlaylist]="false"></app-cover-view>
            </div>
        </div>

    </div> -->
    <!-- End:: section -->
  </div>
  <!-- End:: under hero -->
</div>
