//
// Dropzone
//


.dropzone {
    min-height: $dropzone-min-height;
    padding: $dropzone-padding;
    border: 1px dashed $dropzone-border-color !important;
    border-radius: $dropzone-border-radius !important;

    .dz-message {
        margin: 0;
    }
}