<!-- Hero -->
<div class="hero" style="background-image: url(../../../../assets/images/Events/pixelcut-export.png);"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">
  <!-- Start:: Carousel -->
  <div id="complexCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let complexe of complexes; let i = index" [ngClass]="{'active': i === 0}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ complexe.Name }}</h5>
          <img [src]="complexe.photos" alt="{{ complexe.Name }}" class="d-block w-100">
          <a class="btn btn-primary mt-3" [routerLink]="['compt/user', complexe._id]">Voir les détails</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#complexCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#complexCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End:: Carousel -->
</div>
<!-- End:: under hero -->

<!-- Section for Complexes List -->
<div class="section" *ngIf="complexes.length">
  <div class="section__head">
    <h2 class="mb-0">Liste des <span class="text-primary">Complexes</span></h2>
  </div>
  <div class="row g-4">
    <div class="col-xl-3 col-sm-6" *ngFor="let complexe of complexes">
      <a [routerLink]="['/compt/user', complexe._id]" class="complexe-link">
        <app-cluster-view
          [data]="{
            cover: complexe.photos,
            name: complexe.Name,
            detailsRoute: '/compt/user/' + complexe._id + '/details'
        }"
          [viewData]="false"
        ></app-cluster-view>
      </a>
    </div>
  </div>
</div>
