
<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" style="background-image: url(../../../../assets/images/Events/2010.i602.006.sports_stadium_infographic_flat-01.jpg);"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="section__head align-items-center">
            <span class="d-block pe-3 fs-6 fw-semi-bold">Filtre</span>
            <div>
                <select class="form-select" aria-label="Filter song">
                    <option value="Popular">complexe</option>
                    <option value="Most played">terrain</option>
                    <option value="A to Z">A to Z</option>
                    <option value="Z to A">Z to A</option>
                </select>
            </div>
        </div>

        <!-- Start:: list [[ Find at scss/components/list.scss ]] -->
        <div class="list">
            <div class="row">
                <div class="col-xl-6" *ngFor="let song of songs">
                <!--<app-list-view [data]="song"></app-list-view> compoennt static-->
                </div>
            </div>
        </div>
        <!-- End:: list -->

        <div class="mt-5 text-center">
            <a href="javascript:void(0);" class="btn btn-primary">
                <div class="btn__wrap">
                    <i class="ri-loader-3-fill"></i>
                    <span>Load more</span>
                </div>
            </a>
        </div>

    </div>
    <!-- End:: section -->

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="section__head">
            <div class="flex-grow-1">
                <h3 class="mb-0">Statistique des  <span class="text-primary">Evenements</span></h3>
            </div>
           <!--  <a routerLink="/app/albums" class="btn btn-link">View All</a> -->
        </div>

        <ng-template #albumView let-data="data">
          <app-cover-view [data]="data" [coverLink]="true" [viewPlayButton]="false" [viewQueueOptions]="false"></app-cover-view>
        </ng-template>
     <app-carousel [classes]="'swiper-carousel-button'" [slideTemplate]="albumView" [slideData]="albums" [slides]="5" [navigation]="true"></app-carousel>
    </div>
    <!-- End:: section -->

</div>
<!-- End:: under hero -->
