
<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div class="hero" style="background-image: url(./assets/images/banner/song.jpg);"></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="row align-items-center">
            <div class="col-xl-3 col-md-4">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <div class="cover__image">
                        <img [src]="album?.cover" [alt]="album?.name">
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-1 d-none d-xl-block"></div>
            <div class="col-md-8 mt-5 mt-md-0">
                <div class="d-flex flex-wrap mb-2">
                    <span class="text-dark fs-4 fw-semi-bold pe-2">{{album?.name}}</span>
                 <app-dropdown [data]="album" [classes]="'dropstart d-inline-flex ms-auto'" [viewFavorite]="false"
                    [viewQueueOptions]="false" [iconVertical]="false"></app-dropdown>
                </div>
                <!-- Start:: info list [[ Find at scss/components/list.scss ]] -->
                <ul class="info-list info-list--dotted mb-3">
                    <li>Subscriptions</li>
                    <li *ngIf="album?.songs">{{album?.songs?.length > 1 ? album?.songs?.length + ' Songs' : album?.songs?.length + ' Song'}}</li>
                    <li *ngIf="album?.release">{{album?.release}}</li>
                    <li *ngIf="album?.company">{{album?.company}}</li>
                </ul>
                <!-- End:: info list -->
                <div class="mb-4">
                    <p class="mb-2">By:
                        <span class="text-dark fw-medium">
                            <ng-container *ngFor="let artist of album?.artists; last as isLast">
                                <a [routerLink]="'/app/artist/' + artist.id + '/details'" style="color: inherit;">{{artist.name}}</a>{{!isLast ? ', ' : ''}}
                            </ng-container>
                        </span>
                    </p>
                </div>
                <!-- Start:: info list [[ Find at scss/components/list.scss ]] -->
                <ul class="info-list mb-5">
                    <li>
                        <div class="d-flex align-items-center">
                            <button type="button" id="play_all" class="btn btn-icon btn-primary rounded-pill" (click)="play($event)" [attr.data-collection-play-id]="album?.id">
                                <i class="ri-play-fill icon-play"></i>
                                <i class="ri-pause-fill icon-pause"></i>
                            </button>
                            <label for="play_all" class="ps-2 fw-semi-bold text-primary mb-0" style="cursor: pointer;">Play all</label>
                        </div>
                    </li>
                    <li>
                        <a role="button" class="text-dark d-flex align-items-center" aria-label="Favorite" data-favorite-id>
                            <i class="ri-heart-line heart-empty"></i>
                            <i class="ri-heart-fill heart-fill"></i>
                            <span class="ps-2 fw-medium" *ngIf="album?.favorites">{{album?.favorites}}</span>
                        </a>
                    </li>
                    <li>
                        <a role="button" class="text-dark d-flex align-items-center" aria-label="Download">
                            <i class="ri-download-2-line"></i>
                            <span class="ps-2 fw-medium" *ngIf="album?.downloads">{{album?.downloads}}</span>
                        </a>
                    </li>
                    <li *ngIf="album?.ratings">
                        <span class="text-dark d-flex align-items-center">
                            <i class="ri-star-fill text-warning"></i>
                            <span class="ps-2 fw-medium">{{album?.ratings}}</span>
                        </span>
                    </li>
                </ul>
                <!-- End:: info list -->
            </div>
        </div>
    </div>
    <!-- End:: section -->

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">

        <!-- Start:: list [[ Find at scss/components/list.scss ]] -->
        <div class="list">
            <div class="row">
                <div class="col-xl-6" *ngFor="let song of album?.songs">
                <app-list-view [data]="song"></app-list-view>
                </div>
            </div>
        </div>
        <!-- End:: list -->

        <div class="mt-5 text-center">
            <a href="javascript:void(0);" class="btn btn-primary">
                <div class="btn__wrap">
                    <i class="ri-loader-3-fill"></i>
                    <span>Load more</span>
                </div>
            </a>
        </div>

    </div>
    <!-- End:: section -->

    <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
    <div class="section">
        <div class="section__head">
            <h3 class="mb-0">Related <span class="text-primary">Subscriptions</span></h3>
        </div>

        <ng-template #albumView let-data="data">
           <app-cover-view [data]="data" [coverLink]="true" [viewPlayButton]="false" [viewQueueOptions]="false"></app-cover-view>

        </ng-template>
              <app-carousel [classes]="'swiper-carousel-button'" [slideTemplate]="albumView" [slideData]="albums" [slides]="5" [navigation]="true"></app-carousel>

    </div>
    <!-- End:: section -->

    <!-- Comment view -->
     <app-comment ></app-comment>


</div>
<!-- End:: under hero -->
