
<!-- Bind header view according input from parent -->
<ng-container [ngTemplateOutlet]="headerTemplate ? headerTemplate : null"></ng-container>


<!-- Landing header view -->
<ng-template #landingHeader>
    <!-- Start:: header [[ Find at scss/framework/header.scss ]] -->
    <header id="main_header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <app-brand></app-brand>
                <div class="d-flex align-items-center navbar-ex" >
                    <a class="btn btn-primary" routerLink="/login">login</a>
                    <a class="btn btn-primary" routerLink="/register"> Register</a>
                    <button class="navbar-toggler ms-3 ms-sm-4" type="button" data-bs-toggle="collapse" data-bs-target="#top_navbar" aria-controls="top_navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-3-fill"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="top_navbar">
                    <ul class="navbar-nav mt-4 mt-lg-0 mx-auto fw-semi-bold">
                        <li class="nav-item" *ngFor="let nav of menu">
                            <a class="nav-link" [routerLink]="nav.link" [routerLinkActive]="nav.fragment ? '' : active" [fragment]="nav.fragment">{{nav.name}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- End:: header -->
</ng-template>

<!-- App header view -->
<ng-template #appHeader>
    <!-- Start:: header [[ Find at scss/framework/header.scss ]] -->
    <header id="header" #header>
        <div class="container">
            <div class="header-container">
                <div class="d-flex align-items-center">
                    <a role="button" class="header-text sidebar-toggler d-lg-none me-3" aria-label="Sidebar toggler" (click)="toggler()">
                        <i class="ri-menu-3-line"></i>
                    </a>

                    <app-search></app-search>

                    <div class="d-flex align-items-center">
                        <div class="dropdown">
                        </div>

                        <div class="dropdown ms-3 ms-sm-4">
                            <ng-container [ngTemplateOutlet]="userDropdown"></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End:: header -->
</ng-template>




<!-- Template for user dropdown -->
<ng-template #userDropdown>
    <a class="avatar header-text" role="button" id="user_menu" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="avatar__image">
            <img [src]="user.cover" [alt]="user.name">
        </div>
        <span class="ps-2 d-none d-sm-block">{{user.name}}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-md dropdown-menu-end" aria-labelledby="user_menu">
        <li>
            <div class="py-2 px-3 avatar avatar--lg">
                <div class="avatar__image">
                    <img [src]="user.cover" [alt]="user.name">
                </div>
                <div class="avatar__content">
                    <span class="avatar__title">{{user.name}}</span>
                    <span class="avatar__subtitle">{{user.role}}</span>
                </div>
            </div>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li *ngFor="let option of options">
            <a class="dropdown-item d-flex align-items-center" [routerLink]="option.link" [innerHTML]="userOptionLinkHTML(option)"></a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item d-flex align-items-center text-danger" (click)="logout()">
                <i class="ri-logout-circle-line fs-5"></i>
                <span class="ps-2">Logout</span>
            </a>
        </li>
    </ul>
</ng-template>
