<!-- Hero -->
<div class="hero" style="background-image: url(../../../../assets/images/complexe/background.png);"></div>

  <!-- Start:: Carousel -->
  <div id="complexCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">



      <div id="complexCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let complexe of listComplexes; let i = index" [ngClass]="{'active': i === 0}">
            <div class="carousel-content">
              <img [src]="complexe.photos" alt="{{ complexe.Name }}" class="d-block w-100 carousel-img">
              <div class="carousel-overlay"></div>
              <div class="carousel-caption">
                <h4>{{ complexe.Name }}</h4>
                <span class="price">{{ complexe.Ville }} </span>
                <a class="btn btn-primary" [routerLink]="['/complexe', complexe._id, 'details']"> Voir les détails</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    
      
      
    
    
    




    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#complexCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#complexCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- End:: Carousel -->

<!-- End:: under hero -->
<br>
<!-- Section for Complexes List -->
<div class="section" *ngIf="listComplexes.length">
  <div class="section__head">
    <h3 > <span class="text-primary">Liste des Complexes</span></h3>
  </div>
  <div class="row g-4">
    <div class="col-xl-3 col-sm-6" *ngFor="let complexe of listComplexes">
      <a [routerLink]="['/complexe/', complexe._id]" class="complexe-link">

        <app-cluster-view
          [data]="{
            cover: complexe.photos,
            name: complexe.Name,
            detailsRoute: '/complexe/' + complexe._id + '/details'
        }"
          [viewData]="false"
        ></app-cluster-view>
      </a>
    </div>
  </div>
</div>