<!-- Start:: wrapper [[ Find at scss/framework/wrapper.scss ]] -->
<div id="wrapper" class="vh-100">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="container text-center fs-5">
            <div class="row">
                <div class="col-xl-7 col-lg-9 col-lg-10 mx-auto">
                    <h1 class="display-1 fw-bold">4<span class="text-primary">0</span>4</h1>
                    <p>Sorry! But the page you are looking for does not exist, have been removed. Name change or is temporarily unavailable</p>
                    <a routerLink="/" class="btn btn-lg btn-primary rounded-pill external mt-5" style="min-width: 200px;">Go To Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: wrapper -->