<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section pb-0">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5">
            <h2>The <span class="text-primary">Search</span></h2>
            <p>Quickly find the content you want with our powerful search feature..</p>
            <div class="mt-4">
                <input type="text" placeholder="Search anything here..." id="search_input" class="form-control form-control-lg">
            </div>
            <div class="mt-5">
                <a class="btn btn-light-primary active m-1">All</a>
                <a class="btn btn-light-primary m-1">Music</a>
                <a class="btn btn-light-primary m-1">Podcast</a>
                <a class="btn btn-light-primary m-1">Radio</a>
                <a class="btn btn-light-primary m-1">Trending</a>
            </div>
        </div>
    </div>
</div>


<!-- End:: main section -->

        <!--belk nist7a9ouha haka f faza : <nav class="mt-5" aria-label="Page navigation example">
            <ul class="pagination justify-content-center fw-medium">
                <li class="page-item">
                    <a class="page-link">Prev</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>-->

<!-- End:: main section -->
