<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>Get In <span class="text-primary">Touch</span></h2>
            <p>Need assistance or have a question? Our support team is here to help!</p>
        </div>
        <div class="col-xl-8 col-lg-10 mx-auto mb-5">
            <div class="card p-lg-4">
                <div class="card-body">
                    <form class="row" [formGroup]="form">
                        <div class="col-sm-6 mb-4">
                            <label for="f_name" class="form-label fw-medium">First name</label>
                            <input type="text" id="f_name" class="form-control" placeholder="John" formControlName="firstName" appValidation>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label for="l_name" class="form-label fw-medium">Last name</label>
                            <input type="text" id="l_name" class="form-control" placeholder="Doe" formControlName="lastName" appValidation>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label for="mail" class="form-label fw-medium">Mail</label>
                            <input type="mail" id="mail" class="form-control" placeholder="johndoe@xzy.com" formControlName="mail" appValidation>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label for="phone" class="form-label fw-medium">Phone number</label>
                            <input type="text" id="phone" class="form-control" placeholder="000 1111 222 333" formControlName="phone" appValidation>
                        </div>
                        <div class="col-12 mb-4">
                            <label for="message" class="form-label fw-medium">Message</label>
                            <textarea name="message" id="message" cols="30" rows="4" class="form-control" placeholder="Write here..." formControlName="message" appValidation></textarea>
                        </div>
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-primary" style="min-width: 180px;" [disabled]="form.invalid">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-8 mx-auto fs-6 text-center text-sm-start">
            <div class="row g-4">
                <div class="col-sm-6">
                    <span class="d-block fw-semi-bold text-dark mb-2">US</span>
                    <p>1721 Galleria Blvd, Franklin, <br>Tennessee - 37067</p>
                </div>
                <div class="col-sm-6">
                    <span class="d-block fw-semi-bold text-dark mb-2">France</span>
                    <p>905 Dunsmuir St, Vancouver, <br>British Columbia - V6C 2G2</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->
