<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div
  class="hero"
  style="background-image: url(./assets/images/banner/artists.jpg)"
></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">
  <h1>souhaiel</h1>

  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="section__head">
      <h3 class="mb-0">
        <span class="text-primary">Available Evennement</span>
      </h3>
    </div>

    <app-artist-carousel></app-artist-carousel>
  </div>

  <!-- End:: section -->

  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="section__head">
      <h3 class="mb-0">
        Top <span class="text-primary">Available Offers</span>
      </h3>
    </div>
    <div class="row g-4">
      <div
        class="col-6 col-xl-2 col-md-3 col-sm-4"
        *ngFor="let artist of artists"
      >
        <app-cover-view
          [data]="artist"
          [coverLink]="true"
          [viewDropdown]="false"
          [viewPlayButton]="false"
        ></app-cover-view>
      </div>
    </div>
    <div class="mt-5 text-center">
      <a href="javascript:void(0);" class="btn btn-primary">
        <div class="btn__wrap">
          <i class="ri-loader-3-fill"></i>
          <span>Load more</span>
        </div>
      </a>
    </div>
  </div>
  <!-- End:: section -->
</div>
<!-- End:: under hero -->
