<div class="container">
    <br><br>
    <div class="mt-5 text-center">
      <h3>Update Terrain</h3>
    </div>
    <form [formGroup]="updateTerrainForm" (ngSubmit)="updateTerrain()">
      <div class="form-group">
        <label for="Name">Nom du Terrain</label>
        <input type="text" id="Name" formControlName="Name" class="form-control" />
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
      </div>
  
      <div class="form-group">
        <label for="Type">Type</label>
        <select id="Type" formControlName="Type" class="form-control">
          <option value="football">Football</option>
          <option value="handball">Handball</option>
          <option value="Basket-Ball">Basket-Ball</option>
          <option value="baseball">Baseball</option>
          <option value="tennis">Tennis</option>
          <option value="golf">Golf</option>
          <option value="natation">Natation</option>
          <option value="boxes">Boxes</option>
        </select>
      </div>
  
      <ng-container *ngIf="updateTerrainForm.get('Type')?.value">
        <ng-container *ngIf="['football', 'handball', 'Basket-Ball'].includes(updateTerrainForm.get('Type')?.value)">
          <div class="form-group">
            <label for="Numero_terrain">Numéro de terrain</label>
            <input id="Numero_terrain" formControlName="Numero_terrain" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="longueur">Longueur</label>
            <input id="longueur" formControlName="longueur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="largeur">Largeur</label>
            <input id="largeur" formControlName="largeur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surface">Surface</label>
            <input id="surface" formControlName="surface" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surfaces_de_Jeu">Surfaces de Jeu</label>
            <input id="surfaces_de_Jeu" formControlName="surfaces_de_Jeu" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Capacite">Capacité</label>
            <input id="Capacite" formControlName="Capacite" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prix_par_Heure">Prix par Heure</label>
            <input id="prix_par_Heure" formControlName="prix_par_Heure" type="text" class="form-control" />
          </div>
        </ng-container>
    
        <ng-container *ngIf="updateTerrainForm.get('Type')?.value === 'baseball'">
          <div class="form-group">
            <label for="Numero_terrain">Numéro de terrain</label>
            <input id="Numero_terrain" formControlName="Numero_terrain" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="longueur">Longueur</label>
            <input id="longueur" formControlName="longueur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="largeur">Largeur</label>
            <input id="largeur" formControlName="largeur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surface">Surface</label>
            <input id="surface" formControlName="surface" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surfaces_de_Jeu">Surfaces de Jeu</label>
            <input id="surfaces_de_Jeu" formControlName="surfaces_de_Jeu" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Hauteur_du_filet">Hauteur du Filet</label>
            <input id="Hauteur_du_filet" formControlName="Hauteur_du_filet" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Largeur_du_filet">Largeur du Filet</label>
            <input id="Largeur_du_filet" formControlName="Largeur_du_filet" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Zones_de_service">Zones de Service</label>
            <input id="Zones_de_service" formControlName="Zones_de_service" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Couloir_de_double">Couloir de Double</label>
            <input id="Couloir_de_double" formControlName="Couloir_de_double" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Capacite">Capacité</label>
            <input id="Capacite" formControlName="Capacite" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prix_par_Heure">Prix par Heure</label>
            <input id="prix_par_Heure" formControlName="prix_par_Heure" type="text" class="form-control" />
          </div>
        </ng-container>
    
        <ng-container *ngIf="updateTerrainForm.get('Type')?.value === 'tennis'">
          <div class="form-group">
            <label for="Numero_terrain">Numéro de terrain</label>
            <input id="Numero_terrain" formControlName="Numero_terrain" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="longueur">Longueur</label>
            <input id="longueur" formControlName="longueur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="largeur">Largeur</label>
            <input id="largeur" formControlName="largeur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surface">Surface</label>
            <input id="surface" formControlName="surface" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surfaces_de_Jeu">Surfaces de Jeu</label>
            <input id="surfaces_de_Jeu" formControlName="surfaces_de_Jeu" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Hauteur_du_filet">Hauteur du Filet</label>
            <input id="Hauteur_du_filet" formControlName="Hauteur_du_filet" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Largeur_du_filet">Largeur du Filet</label>
            <input id="Largeur_du_filet" formControlName="Largeur_du_filet" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Zones_de_service">Zones de Service</label>
            <input id="Zones_de_service" formControlName="Zones_de_service" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Couloir_de_double">Couloir de Double</label>
            <input id="Couloir_de_double" formControlName="Couloir_de_double" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Capacite">Capacité</label>
            <input id="Capacite" formControlName="Capacite" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prix_par_Heure">Prix par Heure</label>
            <input id="prix_par_Heure" formControlName="prix_par_Heure" type="text" class="form-control" />
          </div>
        </ng-container>
    
        <ng-container *ngIf="updateTerrainForm.get('Type')?.value === 'golf'">
          <div class="form-group">
            <label for="Nombre_de_trous">Nombre de Trous</label>
            <input id="Nombre_de_trous" formControlName="Nombre_de_trous" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Par_du_trou">Par du Trou</label>
            <input id="Par_du_trou" formControlName="Par_du_trou" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Longueur_du_trou">Longueur du Trou</label>
            <input id="Longueur_du_trou" formControlName="Longueur_du_trou" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surface">Surface</label>
            <input id="surface" formControlName="surface" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Capacite">Capacité</label>
            <input id="Capacite" formControlName="Capacite" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prix_par_Heure">Prix par Heure</label>
            <input id="prix_par_Heure" formControlName="prix_par_Heure" type="text" class="form-control" />
          </div>
        </ng-container>
    
        <ng-container *ngIf="updateTerrainForm.get('Type')?.value === 'natation'">
          <div class="form-group">
            <label for="Profondeur">Profondeur</label>
            <input id="Profondeur" formControlName="Profondeur" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Nombre_de_couloirs">Nombre de Couloirs</label>
            <input id="Nombre_de_couloirs" formControlName="Nombre_de_couloirs" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Largeur_des_couloirs">Largeur des Couloirs</label>
            <input id="Largeur_des_couloirs" formControlName="Largeur_des_couloirs" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Type_de_piscine">Type de Piscine</label>
            <input id="Type_de_piscine" formControlName="Type_de_piscine" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Capacite">Capacité</label>
            <input id="Capacite" formControlName="Capacite" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prix_par_Heure">Prix par Heure</label>
            <input id="prix_par_Heure" formControlName="prix_par_Heure" type="text" class="form-control" />
          </div>
        </ng-container>
    
        <ng-container *ngIf="updateTerrainForm.get('Type')?.value === 'boxes'">
          <div class="form-group">
            <label for="Longueur_du_ring">Longueur du Ring</label>
            <input id="Longueur_du_ring" formControlName="Longueur_du_ring" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Largeur_du_ring">Largeur du Ring</label>
            <input id="Largeur_du_ring" formControlName="Largeur_du_ring" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Hauteur_du_ring">Hauteur du Ring</label>
            <input id="Hauteur_du_ring" formControlName="Hauteur_du_ring" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="surface">Surface</label>
            <input id="surface" formControlName="surface" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="Capacite">Capacité</label>
            <input id="Capacite" formControlName="Capacite" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prix_par_Heure">Prix par Heure</label>
            <input id="prix_par_Heure" formControlName="prix_par_Heure" type="text" class="form-control" />
          </div>
        </ng-container>
      </ng-container>
    
      <div class="form-group">
        <label for="photos">Photos</label>
        <input id="photos" type="file" (change)="onFileChange($event)" class="form-control" />
      </div>
  
      <div class="mt-5 text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!updateTerrainForm.valid">Update</button>
      </div>
    </form>
  </div>
  