<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div
  class="hero"
  style="
    background-image: url(../../../../assets/images/Events/pixelcut-export.png);
  "
></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">
  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="section__head">
      <h3 class="mb-0">Evenement <span class="text-primary">Actuel</span></h3>
    </div>
    <div class="row g-4">
      <div class="col-xl-3 col-sm-6" *ngFor="let genre of genres">
        <app-cluster-view [data]="genre" [viewData]="false"></app-cluster-view>
      </div>
    </div>
  </div>
  <!-- End:: section -->
</div>
<!-- End:: under hero -->
