<!-- Hero [[ Find at scss/framework/hero.scss ]] -->
<div
  class="hero"
  *ngIf="evenement?.image"
  [ngStyle]="{ 'background-image': 'url(' + evenement?.image + ')' }"
></div>

<!-- Start:: under hero [[ Find at scss/framework/hero.scss ]] -->
<div class="under-hero container">
  <!-- Start:: section [[ Find at scss/framework/section.scss ]] -->
  <div class="section">
    <div class="section__head">
      <h3 class="mb-0">Details de l'Événement</h3>
    </div>

    <!-- Start:: list [[ Find at scss/components/list.scss ]] -->
    <div class="list" *ngIf="evenement">
      <div class="row">
        <div class="col-md-6">
          <h2 class="event-title">{{ evenement?.name }}</h2>
          <p class="event-description">{{ evenement?.description }}</p>
          <ul class="event-details list-unstyled">
            <li>
              <strong>Organisateur:</strong> {{ evenement?.organisateur }}
            </li>
            <li><strong>Type:</strong> {{ evenement?.type }}</li>
            <li>
              <strong>Date Début:</strong> {{ evenement?.dateDebut | date }}
            </li>
            <li><strong>Date Fin:</strong> {{ evenement?.dateFin | date }}</li>
            <li><strong>Location:</strong> {{ evenement?.location }}</li>
            <li><strong>Complexe:</strong> {{ evenement?.NomDuComplexe }}</li>
          </ul>
          <!-- Favorite button -->
          <button class="btn btn-favorite" (click)="toggleFavorite(evenement)">
            <i
              class="fa"
              [ngClass]="{
                'fa-heart': evenement?.isFavorite,
                'fa-heart-o': !evenement?.isFavorite
              }"
            ></i>
            <span
              >{{
                evenement?.isFavorite ? 'Retirer des Favoris' : 'Ajouter aux Favoris'
              }}</span
            >
          </button>
        </div>
        <div class="col-md-6 text-center">
          <img
            *ngIf="evenement?.image"
            [src]="evenement?.image"
            alt="Event Image"
            class="img-fluid event-image"
          />
        </div>
      </div>
    </div>
    <div class="list" *ngIf="!evenement">
      <p>Loading event details...</p>
    </div>
    <!-- End:: list -->

    <div class="mt-5 text-center">
      <a href="javascript:void(0);" class="btn btn-primary btn-load-more">
        <div class="btn__wrap">
          <i class="ri-loader-3-fill"></i>
          <span>Load more</span>
        </div>
      </a>
    </div>
  </div>
  <!-- End:: section -->
</div>
<!-- End:: under hero -->
