<div class="container mt-5">
  <h2>Ajouter un Événement</h2>
  <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
    <div class="form-group mb-3">
      <label for="name">Nom</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="event.name"
        name="name"
        #name="ngModel"
      />
      <div *ngIf="name.invalid && name.touched" class="text-danger">
        Le nom est requis.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="organisateur">Organisateur</label>
      <input
        type="text"
        class="form-control"
        id="organisateur"
        required
        [(ngModel)]="event.organisateur"
        name="organisateur"
        #organisateur="ngModel"
      />
      <div
        *ngIf="organisateur.invalid && organisateur.touched"
        class="text-danger"
      >
        L'organisateur est requis.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="type">Type</label>
      <input
        type="text"
        class="form-control"
        id="type"
        required
        [(ngModel)]="event.type"
        name="type"
        #type="ngModel"
      />
      <div *ngIf="type.invalid && type.touched" class="text-danger">
        Le type est requis.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="description">Description</label>
      <textarea
        class="form-control"
        id="description"
        required
        [(ngModel)]="event.description"
        name="description"
        #description="ngModel"
      ></textarea>
      <div
        *ngIf="description.invalid && description.touched"
        class="text-danger"
      >
        La description est requise.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="dateDebut">Date de Début</label>
      <input
        type="date"
        class="form-control"
        id="dateDebut"
        required
        [(ngModel)]="event.dateDebut"
        name="dateDebut"
        #dateDebut="ngModel"
      />
      <div *ngIf="dateDebut.invalid && dateDebut.touched" class="text-danger">
        La date de début est requise.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="dateFin">Date de Fin</label>
      <input
        type="date"
        class="form-control"
        id="dateFin"
        required
        [(ngModel)]="event.dateFin"
        name="dateFin"
        #dateFin="ngModel"
      />
      <div *ngIf="dateFin.invalid && dateFin.touched" class="text-danger">
        La date de fin est requise.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="image">Image</label>
      <input
        type="file"
        class="form-control-file"
        id="image"
        (change)="onFileSelected($event)"
      />
    </div>

    <div class="form-group mb-3">
      <label for="complex">Complexe</label>
      <input
        type="text"
        class="form-control"
        id="complex"
        required
        [(ngModel)]="event.complex"
        name="complex"
        #complex="ngModel"
      />
      <div *ngIf="complex.invalid && complex.touched" class="text-danger">
        Le complexe est requis.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="eventForm.invalid"
    >
      Ajouter
    </button>
  </form>
</div>
