<div class="container-fluid px-xl-4">
    <!-- Start:: main hero [[ Find at scss/framework/hero.scss ]] -->
    <div class="main-hero mx-auto" style="background-image: url(./assets/images/background/back.jpg);">
        <div class="container">
            <div class="col-xl-6 col-lg-8 col-md-9 fs-5">
                <h1 class="main-hero__title mb-3"> <span class="text-primary">All</span > your entertainment needs in <span class="text-primary">One</span>  place!</h1>
                <div class="me-sm-5">
                    <p>Get musics ,podcasts and Films in one and only subscription! .</p>

                    <a class="btn btn-lg btn-outline-dark ms-2" routerLink="/login">login</a>
                    <a class="btn btn-lg btn-outline-dark ms-2" routerLink="/register">Register now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: main hero -->
</div>



<div class="main-section bg-light">
  <div class="container">
      <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
          <h2>The <span class="text-primary">Search</span></h2>
          <p> Quickly find the content you want with our powerful search feature. .</p>
          <div class="mt-4">
              <input type="text" placeholder="Search anything here..." id="search_input" class="form-control form-control-lg">
          </div>
       </div>
    </div>
</div>

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section bg-light">
  <div class="container">
      <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
          <h2>Interisting <span class="text-primary">Subscriptions</span></h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab illo.</p>
      </div>
      <app-artist-carousel></app-artist-carousel>
  </div>
</div>
<!-- End:: main section -->




<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>Features of <span class="text-primary">Subflex</span></h2>
            <p>Combining multiple subscription-based services like Netflix, Deezer, and others into a single app that offers a low price subscription.</p>
        </div>
        <!-- Start:: feature [[ Find at scss/framework/core.scss ]] -->
        <div class="feature">
            <div class="row g-4 g-md-5">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-blue);">
                                <i class="ri-music-2-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Musics</h5>
                            <p>Access to a vast library of music without any interruptions from ads..</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-pink);">
                                <i class="ri-question-answer-fill fs-4"></i>
                              </div>
                              <h5 class="mt-4 mb-3">Films</h5>
                              <p>The latest and most popular movies and TV shows at your fingertips, so you can easily watch whatever you want..</p>
                          </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                          <div class="feature__icon" style="color: var(--bs-red);">
                            <i class="ri-radio-fill fs-4"></i>
                              </div>
                              <h5 class="mt-4 mb-3">podcasts</h5>
                              <p> A collection of engaging and informative podcasts that you can discover and listen to with just one click.</p>
                          </div>


                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                          <div class="feature__icon" style="color: var(--bs-orange);">
                            <i class="ri-vip-crown-fill fs-4"></i>
                        </div>
                        <h5 class="mt-4 mb-3">Personalized Subscription Plans</h5>
                        <p>Create a subscription plan that's tailored to your unique needs and preferences.</p>
                    </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">

                          <div class="feature__icon" style="color: var(--bs-purple);">
                            <i class="ri-calendar-event-fill fs-4"></i>

                              </div>
                              <h5 class="mt-4 mb-3">Comments & reviews</h5>
                              <p>Share your thoughts and feedback on the content you're watching with our comments and reviews feature..</p>
                          </div>

                    </div>
                </div>




            </div>
        </div>
        <!-- End:: feature -->
    </div>
</div>
<!-- End:: main section -->










<!-- End:: main section -->
